BEGIN;
DELETE FROM "rawmaterials_fabric";
DELETE FROM "dispatch_dispatch";
DELETE FROM "category_master_new_categorysize";
DELETE FROM "category_master_categorymaster";
DELETE FROM "chat_chatthread_participants";
DELETE FROM "core_leaveapplication";
DELETE FROM "django_session";
DELETE FROM "finished_products_finishedproductline";
DELETE FROM "rawmaterials_accessory";
DELETE FROM "auth_user";
DELETE FROM "auth_user_user_permissions";
DELETE FROM "auth_permission";
DELETE FROM "components_costcomponent";
DELETE FROM "rawmaterials_printed";
DELETE FROM "category_master_new_category";
DELETE FROM "django_content_type";
DELETE FROM "vendors_vendor";
DELETE FROM "finished_products_finishedproduct";
DELETE FROM "issue_material_issue";
DELETE FROM "chat_chatthread";
DELETE FROM "category_master_categorymasternew";
DELETE FROM "core_delegation";
DELETE FROM "workorders_packagingstage";
DELETE FROM "auth_group_permissions";
DELETE FROM "components_componentmaster";
DELETE FROM "chat_message";
DELETE FROM "workorders_notification";
DELETE FROM "issue_material_issueline";
DELETE FROM "django_admin_log";
DELETE FROM "auth_group";
DELETE FROM "auth_user_groups";
DELETE FROM "core_attendance";
DELETE FROM "core_delegation_assignees";
DELETE FROM "finished_products_stockmovement";
DELETE FROM "size_master_sizemaster";
DELETE FROM "costing_sheet_costingsheet";
DELETE FROM "workorders_workorder";
UPDATE "sqlite_sequence" SET "seq" = 0 WHERE "name" IN ('rawmaterials_fabric', 'dispatch_dispatch', 'category_master_new_categorysize', 'category_master_categorymaster', 'chat_chatthread_participants', 'core_leaveapplication', 'django_session', 'finished_products_finishedproductline', 'rawmaterials_accessory', 'auth_user', 'auth_user_user_permissions', 'auth_permission', 'components_costcomponent', 'rawmaterials_printed', 'category_master_new_category', 'django_content_type', 'vendors_vendor', 'finished_products_finishedproduct', 'issue_material_issue', 'chat_chatthread', 'category_master_categorymasternew', 'core_delegation', 'workorders_packagingstage', 'auth_group_permissions', 'components_componentmaster', 'chat_message', 'workorders_notification', 'issue_material_issueline', 'django_admin_log', 'auth_group', 'auth_user_groups', 'core_attendance', 'core_delegation_assignees', 'finished_products_stockmovement', 'size_master_sizemaster', 'costing_sheet_costingsheet', 'workorders_workorder');
COMMIT;
